<!-- Code van Rick -->
<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>
<title>Datingsite</title>

<body class="body-filteren">
<%- include('partials/checkbox'); -%>
<main id="list">
    <!-- Bij de volgende functie wordt er door een array gebladerd, en word elk object in de array apart gerenderd. -->
    <% for (var index = 0; index < persons.length; index++) { %>
    <article>
        <div class=image><img src="<%= persons[index].img %>" alt="<%= persons[index].name %>"></div>
        <section id="<%= persons[index].id %>">
            <h1><%= persons[index].name %></h1>
            <h2><%= persons[index].age %></h2>
            <h2><%= persons[index].hobby %></h2>
            <h2 class='expand'>Woonplaats: <%= persons[index].city %></h2>
            <h2 class='expand'>Geslacht: <%= persons[index].geslacht %></h2>
            <h2 class='expand'>Zoekend naar: <%= persons[index].gezocht %></h2>
            <h2 class='expand'>Fav. dier: <%= persons[index].animal %></h2>
            <h2 class='expand'>Fav. kleur: <%= persons[index].color %></h2>
            <p class="more expand"><span onclick="expand('<%= persons[index].id %>')" id="dropdown" class="fas fa-caret-down fa-3x"></span></p>
            <a href="<%= persons[index].id %>"><button class='match'><i class="fas fa-heart fa-3x"></i></button></a>
        </section>
    </article>
    <% } %>

</main>
<script src="js/interaction.js"></script>

<%- include('partials/footer'); -%>