<!-- Code van Rick -->
<%- include('partials/head'); -%>
<%- include('partials/nav'); -%>
<title>Datingsite</title>

<body class="body-filteren">
<main id="list">
    <!-- Bij de volgende functie wordt er door een array gebladerd, en word elk object in de array apart gerenderd. -->
    <% for (var index = 0; index < matches.length; index++) { %>
    <article>
        <div class=image><img src="<%= matches[index].img %>" alt="<%= matches[index].name %>"></div>
        <section id="<%= matches[index].id %>">
            <h1><%= matches[index].name %></h1>
            <h2><%= matches[index].age %></h2>
            <h2><%= matches[index].hobby %></h2>
            <h2 class='expand'>Woonplaats: <%= matches[index].city %></h2>
            <h2 class='expand'>Geslacht: <%= matches[index].geslacht %></h2>
            <h2 class='expand'>Zoekend naar: <%= matches[index].gezocht %></h2>
            <h2 class='expand'>Fav. dier: <%= matches[index].animal %></h2>
            <h2 class='expand'>Fav. kleur: <%= matches[index].color %></h2>
            <p class="more expand"><span onclick="expand('<%= matches[index].id %>')" id="dropdown" class="fas fa-caret-down fa-3x"></span></p>
            <a href="/chat"><button class='match'><i class="fas fa-comment-alt fa-3x"></i></button></a>
        </section>
    </article>
    <% } %>

</main>
<script src="js/interaction.js"></script>

<%- include('partials/footer'); -%>